<h1>Teachers list</h1>

<% @teachers.each do |teacher| %>
<table class="lessonsTbl">
  <tr> 
    <td style="width: 500px">
      <%= image_tag teacher.photo.url(:thumb), :style=>"float:left;" if teacher.photo.exists? %>
      <%= teacher.full_name %>
      <br/>
      <%= teacher.department %>
    </td>
    
    <td></td>
    
</tr>

<tr colspan="2">
  <td>
    <%= link_to 'Edit', edit_teacher_path(teacher) %>
    <%= link_to 'Destroy', teacher_path(teacher), confirm: 'Are you sure?', method: :delete %>  
  </td>
</tr>
</table>
<% end %>
<br/>

<%= link_to 'New', new_teacher_path %>