<% day_shedule, ch_shedule, zn_shedule = show_lesson_details(shedule_details, day_week, lesson_no)%> 

<% if day_shedule !=nil %>
  <table id="full">
    <tr>
      <%if day_shedule.subgroup_no ==0%>
      <%if day_shedule.lesson_type =="0"%>
        <td colspan="2" style="color: #594274;">
          <div>
            <%=day_shedule.lesson_title%> <br/>
            <%=day_shedule.place%><br/>
            <%=day_shedule.course%><br/></b>
                    </div>
          <div>
            <div id="full_day"></div>
          </div>
          <%if !widget && user_signed_in? %>
            <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, day_shedule)%>
            <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, day_shedule), confirm: 'Are you sure?', method: :delete %>
          <%end%>
        </td>
       <%elsif day_shedule.lesson_type =="1"%>
        <td colspan="2" style="color: #bc0d5b;">
          <div>
            <%=day_shedule.lesson_title%> <br/>
            <%=day_shedule.place%><br/>
            <%=day_shedule.course%><br/></b>
          </div>
          <div>
            <div id="full_day"></div>
          </div>
          <%if !widget && user_signed_in?%>
            <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, day_shedule)%>
            <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, day_shedule), confirm: 'Are you sure?', method: :delete %>
          <%end%>
        </td>
        <%else%>
        <td colspan="2" style="color: #d37507;">
          <div>
            <%=day_shedule.lesson_title%> <br/>
            <%=day_shedule.place%><br/>
            <%=day_shedule.course%><br/></b>
          </div>
          <div>
            <div id="full_day"></div>
          </div>
          <%if !widget && user_signed_in?%>
            <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, day_shedule)%>
            <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, day_shedule), confirm: 'Are you sure?', method: :delete %>
          <%end%>
        </td>
       
       <%end%>
      <%else%> 
        <td>
          <%if day_shedule.subgroup_no ==1%>
            <div><%=day_shedule.lesson_title%> <br/>
              <%=day_shedule.place%><br/>
              <%=day_shedule.course%>
            </div>
          <div>
            <div id="first"></div>
          </div>
            <%if !widget && user_signed_in?%>
              <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, day_shedule)%>
              <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, day_shedule), confirm: 'Are you sure?', method: :delete %>
            <%end%>
          <%end%>
        </td>
        <td>
          <%if day_shedule.subgroup_no ==2%>
            <div><%=day_shedule.lesson_title%> <br/>
              <%=day_shedule.place%><br/>
              <%=day_shedule.course%>
            </div>
          <div>
            <div id="second"></div>
          </div>
            <%if !widget && user_signed_in?%>
              <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, day_shedule)%>
              <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, day_shedule), confirm: 'Are you sure?', method: :delete %>
            <%end%>
          <%end%>
        </td>
      <%end%>
  
    </tr>
  </table>
<%end%>


<%if ch_shedule != nil || zn_shedule != nil%>
  <table id="parts">
    <tr> 
      <% if ch_shedule != nil %>
        <%if ch_shedule.subgroup_no ==0%>
          <td colspan="2">
            <div>
              <%=ch_shedule.lesson_title%><br/>
               <%=ch_shedule.place%><br/>
               <%=ch_shedule.course%></div>
            </div>
            <div>
              <div id="ch_full"></div>
            </div>
            <%if !widget && user_signed_in?%>
              <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, ch_shedule)%>
              <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, ch_shedule), confirm: 'Are you sure?', method: :delete %>
            <%end%>
         </td>
        <%else%>
          <td>
            <%if ch_shedule.subgroup_no == 1%>
              <div>
                <%=ch_shedule.lesson_title%><br/>
                <%=ch_shedule.place%><br/>
                <%=ch_shedule.course%>
              </div>
              <div>
                <div id="ch_first"></div>
             </div>
              <%if !widget && user_signed_in?%>
                <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, ch_shedule)%>
                <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, ch_shedule), confirm: 'Are you sure?', method: :delete %>
              <%end%>
            <%end%>
          </td> 
          <td>
            <%if ch_shedule.subgroup_no == 2%>
              <div>
                 <%=ch_shedule.lesson_title%><br/>
                 <%=ch_shedule.place%><br/>
                 <%=ch_shedule.course%>
              </div>
             <div>
                <div id="ch_second"></div>
             </div>
              <%if !widget && user_signed_in?%>
                <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, ch_shedule)%>
                <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, ch_shedule), confirm: 'Are you sure?', method: :delete %>
              <%end%>
            <%end%>
          </td>
        <%end%>
      <%else%>
        <%if !widget%>
          <td> <%=link_to "Add", new_shedule_shedule_detail_path(shedule, {"day"=>day_week, "lesson"=>lesson_no, "teacher_id"=>teacher_id}) %>
          </td>
        <%end%>
      <%end%>
    </tr>
  
    <tr>
      <% if zn_shedule != nil %>
        <%if zn_shedule.subgroup_no ==0%>
          <td>
            <div>
              <%=zn_shedule.lesson_title%><br/>
               <%=zn_shedule.place%><br/>
               <%=zn_shedule.course%></div>
            </div>
             <div>
                <div id="zn_full"></div>
              </div>
            <%if !widget && user_signed_in?%>
              <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, zn_shedule)%>
              <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, zn_shedule), confirm: 'Are you sure?', method: :delete %>
            <%end%>
          </td>
        <%else%>
          <td>
            <%if zn_shedule.subgroup_no == 1%>
              <div>
                <%=zn_shedule.lesson_title%><br/>
                <%=zn_shedule.place%><br/>
                <%=zn_shedule.course%></div>
            </div>
              <div>
                <div id="zn_first"></div>
              </div>
              <%if !widget && user_signed_in?%>
                <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, zn_shedule)%>
                <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, zn_shedule), confirm: 'Are you sure?', method: :delete %>
              <%end%>
            <%end%>
          </td> 
          <td>
            <%if zn_shedule.subgroup_no == 2%>
              <div>
                <%=zn_shedule.lesson_title%><br/>
                <%=zn_shedule.place%><br/>
                <%=zn_shedule.course%></div>
              </div>
              <div>
                <div id="zn_second"></div>
              </div>
              <%if !widget && user_signed_in?%>
                <%=link_to "Edit", edit_shedule_shedule_detail_path(shedule, zn_shedule)%>
                <%= link_to 'Destroy', shedule_shedule_detail_path(shedule, zn_shedule), confirm: 'Are you sure?', method: :delete %>
              <%end%>
            <%end%>
          </td>
        <%end%>  
      <%else%>   
        <%if !widget%>
          <td> 
            <%=link_to "Add", new_shedule_shedule_detail_path(shedule, {"day"=>day_week, "lesson"=>lesson_no, "teacher_id"=>teacher_id}) %>
      
          </td>
        <%end%>
      <%end%>
    </tr>
  </table>
<%end%>
<%if !widget%>
  <%if day_shedule == nil && ch_shedule == nil && zn_shedule == nil%>  
    <%=link_to "Add", new_shedule_shedule_detail_path(shedule, {"day"=>day_week, "lesson"=>lesson_no, "teacher_id"=>teacher_id}) %>
  <%end%>
<%end%>
