<%#<%  @days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]%>
<%  @days = [["Понеділок", 1],["Вівторок", 2], ["Середа", 3], ["Четвер", 4], ["П'ятниця", 5], ["Субота", 6]]%>
<%#<%  @days = [1, 2, 3, 4, 5, 6]%>
<%  @lessons = [1,2,3,4,5,6] %>
<div class="lessonsTbl">
  <h1>Осінній семестр, 2011/2012 навч. рік</h1>
  <div style="margin-top:5px">
    <img id="full_day"/>
    <img id="first_full"/>
    <img id="second_full"/>
    <img id="ch_full"/>
    <img id="ch_first"/>
    <img id="ch_second"/>
    <img id="zn_full"/>
    <img id="zn_first"/>
    <img id="zn_second"/>
  </div>
   <div id="menu">
        <ul>
          <li><h2>Lecturers</h2></li>
          <%Teacher.all.each do |teacher|%>
            <li>
              <%if params[:teacher_id] == teacher.id.to_s%>
                <b><%=teacher.full_name%></b>
              <%else%>
                <%= link_to teacher.full_name, shedule_shedule_details_path(@shedule, :teacher_id=>teacher.id) %>
              <%end%>
            </li>
          <%end%>
        </ul>
      </div>
<table id="one-column-emphasis">
  <colgroup>
    <col class="oce-first" />
  </colgroup>
  <thead>
    <tr>
      <th class="firstCol" scope="col" >№</th>
      <% @days.each do |day| %>
        <th scope="col"><%=day[0]%></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
    <tr id ="tbl">
      <td class="dayTbl"><%=lesson%></td>
      <% @days.each do |day| %>
        <td class="lessonTbl">
          <%= render :partial => "lesson_details", :locals => {:shedule=>@shedule, :shedule_details => @shedule_details, :day_week=>day[1], :lesson_no=>lesson, :teacher_id=>@teacher_id, :widget => false} %>  
        </td>
      <%end%>
    </tr>
   
    <%end%> 
  </tbody>

</table>
</div>